{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "globals": {},
    "extends": [
        "eslint:recommended",
        "plugin:flowtype/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "no-var": [
            "error"
        ],
        "indent": [
            "error",
            4,
            { "SwitchCase": 1 }
        ],
        "key-spacing": [
            "error", {
                "multiLine" : {
                    "beforeColon" : true,
                    "afterColon"  : true

                },
                "align"     : {
                    "beforeColon" : true,
                    "afterColon"  : true,
                    "on"          : "colon"
                }
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-console": 0
    }
}
